version: '3.1'
services:
  accounting-db:
    container_name: accounting-db
    image: mongo:latest
    restart: always
    environment:
      -  MONGO_DATA_DIR=/data/db
      - MONGO_LOG_DIR=/dev/null
    ports:
    - 27017:27017


  accounting-app:
    container_name: accounting-app
    build: ./api
    working_dir: /api
    volumes:
    - ./api:/api
    depends_on:
      - accounting-db
    ports:
    - 8080:8080
    - 8000:8000
    command: sh run.sh

